<div id="main">
	<div class="row">
		<img src="/static/images/decoder-ring.jpg" alt="christmas story" />
		<p>You might recognize the image to the left from a famous Christmas movie. Yes, that's the Little Orphan Annie Decoder Pin being used by young Ralphie to decode a 'crummy commercial'. For many people, this is the extent of their knowledge about cryptography and ciphers.</p>
	</div>
	<div class="row">
		<p>Then came along a movie about a great man who many consider to be the father of modern computing, where he built a crazy machine to help decrypt nazi messages during World War II that were made with the Enigma Machine. Thus bringing cryptography to the forefront.</p>
		<img src="/static/images/enigma.jpg" alt="imitation game" id="right" />
	</div>
	<div class="row">
		<img src="/static/images/substitution.png" alt="simple substitution" />
		<p>This site is a basic introduction into cryptography, with simpler ciphers more like what you see in The Christmas Story versus The Imitation Game. Here we'll deal with classical, or simple substitution ciphers. All that means is that each letter of the alphabet is replaced by another. 'Simple' is the keyword here. The biggest disadvantage is that each letter is ALWAYS replaced by the same letter, making it an easier encryption to crack.</p>
	</div>
	<div class="row">
		<p>The first, and often only, cipher most people are familiar with is the Caesar Cipher, even if not by name. This is the one made famous by The Little Orphan Annie Decoder Pin. It simply shifts the alphabet by some number. So, for example, if you shift to the right by 3, then the letter 'A' becomes the letter 'D', 'B' becomes 'E', 'C' becomes 'F' and so on.</p>
		<img src="/static/images/caesar.png" alt="caesar cipher" />
	</div>
	<div class="row">
		<img src="/static/images/keyword.png" alt="keyword cipher" />
		<p>Next is the Keyword Cipher. Here the keyword starts the cipher, and then the alphabet is run through completely taking out the letters that are already present in the keyword.</p>
	</div>
	<div class="row">
		<p>Then there's the Atbash Cipher, which came about from the hebrew language. This cipher simply reverses the alphabet, so that 'A' becomes 'Z', 'B' becomes 'Y', 'C' becomes 'X', and so on.</p>
		<img src="/static/images/atbash.png" alt="atbash cipher" />
	</div>
	<div class="row">
		<img src="/static/images/combination.jpg" alt="combination cipher" />
		<p>Of course you can always combine these ciphers to make them a bit more complicated. For instance, the sample encryption you can view here uses a combination of the keyword and atbash ciphers, where the cipher starts with the keyword, and then fills out the rest with the alphabet in reverse order.</p>
	</div>
	<div class="row">
		<p>The ciphers explained and used here are just a very small tip of a very large iceberg. There are numerous courses out there and you could spend years becoming a master cryptologist, but hopefully this can be a small start.</p>
		<img src="/static/images/enigma-machine.jpg" alt="cryptography" />
	</div>
</div>